h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
h5 {
  font-size: 20px;
  font-weight: bolder;
}

.online {
  text-align: center;
  font-weight: lighter;
}

.doMore {
  display: flex;
  margin: 100px;
}
.benefit1 {
  display: flex;
}
.benefit2 {
  display: flex;
}

.all {
  background-color: #f8fef5;
}
.benefit1
  :hover {
  background-color: #dfffd0;
}
.benefit2
  :hover {
  background-color: #dfffd0;
}
.benefit3
  :hover {
  background-color: #dfffd0;
}
