.text1 {
  margin-top: 300px;
}
.word {
  background-color: #f8fef5;
  height: 300px;
}
.word
  > h4 {
  text-align: center;
}
.word
  > button {
  margin-left: 600px;
  background-color: #67a948;
  color: #ffffff;
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

.alls {
  background-color: #67a948;
  color: #ffffff;
  padding-top: 50px;
}
.footer {
  margin-left: 100px;
  display: flex;
  justify-content: space-around;
  margin-right: 100px;
}

.footer
  > h4 {
  font-size: 18px;
  font-weight: bold;
}

.footer
  > p {
  font-size: 15px;
  font-weight: regular;
}
.text {
  margin-top: 50px;
  margin-left: 100px;
  font-size: 16px;
  font-weight: regular;
}
.bottom {
  margin: 100px;
  display: flex;
  justify-content: space-evenly;
}

.policy {
  font-size: 20px;
  font-weight: regular;
  width: 50%;
  height: 1px;
  background-color: #ffffff;
  display: flex;
}
